/* fonts */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC');

* {
    font-family: 'Noto Sans SC';
    margin: 0;
    padding: 0;
    columns: #0F0F0F;
}

body {
	background-color: #F2F1F1;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.btn {
	text-transform: uppercase;
	padding: .6rem 3rem;
	border-radius: 30px;
	text-decoration: none;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
	font-size: 14px;
	transition: all .5s;
}

.btn:hover {
	filter: brightness(90%);
}

.btn.btn-primary {
	background-color: #2988DD;
	color: #FFF;
}

img.responsive {
	max-width: 100%;
	height: auto;
}

.section {
	padding-top: 70px;
	padding-bottom: 80px;
}

.section h2 {
	text-transform: capitalize;
	margin-bottom: 50px;
}

.flex-list {
	display: flex;
	flex-wrap: wrap;
}

.flex-list.center-main-axis {
	justify-content: center;
}

.center-align {
	text-align: center;
}

/* navbar */
.navbar {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.navbar.solid {
    background-color: #2988DD;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.navbar .top-nav {
    line-height: 40px;
    color: #FFF;
    border-bottom: 1px solid #D8D8D8;
}

.navbar .top-nav .container {
    display: flex;
    justify-content: space-between;
}

.navbar .top-nav .container span i {
    font-size: 14px;
    margin-right: 7px;
}

.navbar nav {
    line-height: 60px;
}

.navbar nav .container {
    display: flex;
    justify-content: space-between;
}

.navbar nav a.brand {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
}

.navbar nav ul li {
    display: inline-block;
}

.navbar nav ul li:not(:last-child) {
    margin-right: 25px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #FFF;
}


/* hero section */
.hero {
	background: url('../img/hero_back.jpeg');
	background-repeat: no-repeat;
	-webkit-background-size: auto;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 800px;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
}

.hero::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	z-index: -1;
}

.hero h1 {
	color: #FFF;
	font-size: 3.2rem;
	font-weight: normal;
	margin-bottom: 30px;
}


/* partners section */
.partners {
	padding-top: 20px;
	padding-bottom: 20px;
}

.partners .partner {
	max-width: 125px;
	width: 125px;
	height: 70px;
	padding: 1rem 2rem;
	background-color: #FFF;
	margin: 10px;
}

.partners .partner img {
	height: 100%;
	width: auto;
}


/* services section */
.services {
	background-color: #FFF;
}

.services .service {
	max-width: 300px;
	width: 300px;
	margin: 10px;
}

.services .service img {
	width: 170px;
	margin-bottom: 20px;
}

.services .service h3 {
	text-transform: capitalize;
	font-size: 1.1rem;
	font-weight: 10;
}


/* trainings section */
.trainings {
	background-color: #2988DD;
	color: #F7F7F7;
}

.trainings .flex-list {
	margin-left: -20px;
	margin-right: -20px;
}

.training {
	max-width: 385px;
	width: 385px;
	margin: 27px;
	margin-bottom: 40px;
}

.training h3 {
	text-transform: capitalize;
	margin-bottom: 15px;
}

.training p {
	color: #D4D4D4;
}